<head>
    <h1>Quick Questions</h1>
    <%= link_to "Back to Request List", requests_path, :class => "btn", :id => "backBtn" %>
</head>

<body id="stackContent">
    <table class="table table-striped table-hover table-bordered panel" id="quickQTable">
            <thead class="thead-dark">
            <tr>
                <th>
                    <!--<%= link_to('Name', stacks_path(:order => 'user')) %>-->
                    User
                </th>
                <th>
                    <!--<%= link_to('Class', stacks_path(:order => 'coscclass')) %>-->
                    Class
                </th>
                <th>
                    <!--<%= link_to('Topic', stacks_path(:order => 'topic')) %>-->
                    Topic
                </th>
                <th>Question</th>
            </tr>
        </thead>
        <tbody>
            <% @stack.each do |s| %>
            <tr>
                <td>
                    <%= s.user %>
                </td>
                <td>
                    <%= s.coscclass %>
                </td>
                <td>
                    <%= s.topic %>
                </td>
                <td>
                    <%= link_to "#{s.comment}".truncate_words(10), stack_path(s) %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
            
    <div id="stackIndexRoutes">
        <%= link_to "Add New Question", new_stack_path, :class => "btn" %>
    </div>
   
    

</body>