<head>
    <h1>Quick Questions</h1>
</head>

<body>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <%= link_to('Name', stacks_path(:order => 'user')) %>
                </th>
                <th>
                    <%= link_to('Class', stacks_path(:order => 'coscclass')) %>
                </th>
                <th>
                    <%= link_to('Topic', stacks_path(:order => 'topic')) %>
                </th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <% @stack.each do |s| %>
            <tr>
                <td>
                    <%= s.user %>
                </td>
                <td>
                    <%= s.coscclass %>
                </td>
                <td>
                    <%= s.topic %>
                </td>
                <td>
                    <%= link_to "#{s.comment}".truncate_words(10), stack_path(s) %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
    <div>
        <%= link_to "Add New Question", new_stack_path, :class => "btn btn-primary" %>
    </div>
    
    <div>
        <%= link_to "Back", requests_path, :class => "btn btn-primary" %>
    </div>
</body>