<head>
    <h1>Post a Question</h1>
    <%= link_to "Back to Quick Questions List", stacks_path, :class => "btn", :id => "backBtn" %>
</head>

<body id="newStackContent">
    <div>
        <%= form_with model: @stack, local: true, :class => "form-group" do |r| %>
            <div class="input-group mb-3 newFormElement">
              <div class="input-group-prepend">
                <span class="input-group-text">Name:</span>
              </div>
              <%= r.text_field :user, required: true, :class => "form-control" %>
            </div>
        
            <div class="input-group mb-3 newFormElement">
              <div class="input-group-prepend">
                <span class="input-group-text">Topic:</span>
              </div>
              <%= r.text_field :topic, required: true, :class => "form-control" %>
            </div>
        
            <div class="newFormElement mb-3">
              <span>COSC Class:</span>
              <%= r.select :coscclass, ["COSC 101", "COSC 102"] %>
            </div>
       
            <div class="input-group mb-3 newFormElement">
              <div class="input-group-prepend">
                <span class="input-group-text">Question:</span>
              </div>
              <%= r.text_field :comment, required: true, :class => "form-control" %>
            </div>
        
            <div class="newFormElement">
              <%= r.submit "Create new Question", :class => "btn", :id => "createBtn" %>
            </div>
        <%end%>
    </div>
    
</body>
    