<head>
    <h1>Question Details</h1>
</head>

<body id="showStackContent">
    <div>
        <div id="stackLabels">
            <div>
                <span id="user"><%= "#{@stack.user}" %></span>
                <hr/>
                <span id="topic"><%= "#{@stack.topic}" %></span>
                <span id="class"><%= "#{@stack.coscclass}" %></span>
            </div>
            <p id="comment"><%= "#{@stack.comment}" %></p>
            
        </div>
    </div>
    
    <div>
        <table>
            <thead>
                <th>Responses</th>
            </thead>
            <tbody>
                <% @stack.responses.each do |r| %>
                    <tr>
                        <td><%= r.comment %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <%= link_to "Add a Response to the Question", new_response_path, :class => "btn"%>
    <%= link_to "Back to All Questions", stacks_path, :class => "btn"%> 
</body>
