<head>
    <h1>Question Details</h1>
    <div id="showStackBtns">
        <%= link_to "Back to All Questions", stacks_path, :class => "btn", :id => "backBtn" %>
        <%= link_to "Add a Response to the Question", new_stack_response_path(@stack), :class => "btn", :id => "respondBtn"%>
        <% if current_user.tutor? || current_user.admin? %>
            <%= link_to "Delete Question", stack_path(@stack), method: :delete, class: "btn", id: "deleteStackBtn" %>
        <% end %>
    </div>
</head>

<body id="showStackContent">
    <div>
        <div id="stackDesc">
            <div id="stackLabels">
                <div>
                    <span id="user"><%= "#{@stack.user}" %></span>
                    <hr/>
                    <span id="topic"><%= "#{@stack.topic}" %></span>
                    <span id="class"><%= "#{@stack.coscclass}" %></span>
                </div>
                <p id="comment"><%= "#{@stack.comment}" %></p>
            
            </div>
        </div>
    
        <div id="questionResponses">
            <span id="responseHeader">Responses</span>
            <hr/>
                <% @stack.responses.each do |r| %>
                    <span id="response">- <%= r.comment %></span>
                <% end %>
        </div>
    </div>
    
    
    
</body>
