<head>
    <h1>Question Details</h1>
    <%= link_to "Back to Quick Questions List", stacks_path, :class => "btn", :id => "backBtn" %>
</head>

<body id="showStackContent">
    <div>
        <div id="stackLabels">
            <div>
                <span id="user"><%= "#{@stack.user}" %></span>
                <hr/>
                <span id="topic"><%= "#{@stack.topic}" %></span>
                <span id="class"><%= "#{@stack.coscclass}" %></span>
            </div>
            <p id="comment"><%= "#{@stack.comment}" %></p>
            
        </div>
    </div>
    <%= link_to "Respond to Question", stacks_path, :class => "btn"%>
    <!--Have to put a path here-->
</body>
