  <head>
    <h1>TA Tool</h1>
    <hr></hr>
  </head>
  <body>
    <div class="allRequests">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr class="">
            <th>Name</th>
            <th>Class</th>
            <th>HW/Lab/General</th>
            <th>Time Submitted</th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |r| %>
            <tr class="request">
              <td class="requestname">
                <%= r.name %>
              </td>
              <td class="requestclass">
                <%= r.compsciclass %>
              </td>
              <td class="requestqtype">
                <%= r.qtype %>
              </td>
              <td class="requesttime">
                <% if user_signed_in? && current_user.tutor %>
                  <%= link_to "Help Student", request_path(r), :class => "btn btn-primary"%> 
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

 
    <div>
      <%= link_to "Create new request", new_request_path, :class => "btn btn-primary" %>
      <%= link_to "Quick Questions", stacks_path, :class => "btn btn-primary" %>
    </div>  
  </body>