 <body id="newContent">
    <h1>We're here to help!</h1>
    <%= link_to "Back", requests_path, :class => "btn", :id => "backBtn" %>
    <%= form_with model: @request, local: true, :class => "form-group" do |r| %>
        <div class="input-group mb-3 newFormElement">
          <div class="input-group-prepend">
              <span class="input-group-text">Name:</span>
          </div>
            <%= r.text_field :name, required: true, :class => "form-control" %>
        </div>
        
        <div class="input-group mb-3 newFormElement">
          <div class="input-group-prepend">
              <span class="input-group-text">Email:</span>
          </div>
            <%= r.email_field :email, required: true, value: "#{current_user.email}", :class => "form-control" %>
        </div>
        
        <div class="input-group mb-3 newFormElement">
          <div class="input-group-prepend">
              <span class="input-group-text">Description:</span>
          </div>
            <%= r.text_area :desc, required: true, placeholder: "Short description of your problem", :class => "form-control" %>
        </div>
        
        <div class="newFormElement mb-3">
          <span>COSC Class:</span>
          <%= r.select :compsciclass, ["COSC 101", "COSC 102"] %>
        </div>
        
        <div class="newFormElement mb-3">
          <span>Question Type:</span>
          <%= r.select :qtype, ["Homework", "Lab", "General"] %>
        </div>
        
        
        <div class="newFormElement">
          <%= r.submit "Create Request", :class => "btn", :id => "createBtn" %>
        </div>
        
    <% end %>
    
 </body>
 