 <div class="row">
    <div class="col-md">
      <h3>Create new request</h3>
    </div>
 </div>
 <%= form_with model: @request, local: true, :class => "form-group" do |r| %>
    <div class="row">
      <div class="col-md-3">
        <%= r.label "Name" %>
      </div>
      <div class="col-md-4">
        <%= r.text_field :name, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= r.label :email %>
      </div>
      <div class="col-md-6">
        <%= r.email_field :email, required: true, value: "#{current_user.email}" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= r.label "Description" %>
      </div>
      <div class="col-md-2">
        <%= r.text_area :desc, required: true, placeholder: "Short description of your problem" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= r.label "COSC Class" %>
      </div>
      <div class="col-md-2">
        <%= r.select :compsciclass, ["COSC 101", "COSC 102"] %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= r.label "Question type" %>
      </div>
      <div class="col-md-2">
        <%= r.select :qtype, ["Homework", "Lab", "General"] %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= r.submit "Create new request" %>
      </div>
    </div>
  <% end %>
   <div class="row">
      <div class="col-md">
        <%= link_to "Back", requests_path, :class => "btn btn-primary" %>
      </div>
    </div>