  <body id="showContent">
    
    <h1>
      <%= "Request details for #{@request.name}" %>
    </h1>
    <%= link_to "Back to Request List", requests_path, :class => "btn", :id => "backBtn" %>
    
    <table class="table table-striped table-hover table-bordered panel">
      <thead class="thead-dark">
        <tr>
          <th>Class</th>
          <th>Type</th>
          <th>Description</th>
          <th>Email</th>
          <th>Link for Zoom Meeting</th>
        </tr>
      </thead>
      
      <tbody>
        <tr class="request">
          <td class="reqtd">
            <%= @request.compsciclass %>
          </td>
          <td class="reqtd">
            <%= @request.qtype %>
          </td>
          <td class="reqtd">
            <%= @request.desc %>
          </td>
          <td class="reqtd">
            <%= @request.email %>
          </td>
          <td id="zoomLink">
            <% if @request.zoomurl.nil? %>
              Please wait for help!
            <% else %>  
              <%= link_to "#{@request.zoomurl}", @request.zoomurl, :target => "_blank" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div id="showActions">
      <div id="zoomActions">
        <% if current_user.tutor? %> 
          <%= form_with model: @request, :method => :patch, local: true do |r|%>
            <div class="input-group mb-3 zoomAction">
              <div class="input-group-prepend">
                <span class="input-group-text">Zoom meeting URL:</span>
              </div>
              <%= r.text_field :zoomurl, :class => "form-control" %>
            </div>
            <%= r.submit "Edit request", :class => "btn zoomAction" %>
          <% end %>
        <% end %>
      </div>
      
      <div id="showRoutes">
        <%= link_to "Delete request", request_path(@request), method: :delete, class: "btn"%>
      </div>
    </div>
    

  </body>
  
  
